# vscode
*.vscode/
# c
*.o
# binaries folders
bin/*
!bin/.placeholder
obj/*
!obj/src/
!obj/tests/
obj/src/*
obj/tests/*
!obj/src/phase1/
!obj/src/phase2/
!obj/tests/.placeholder
obj/src/phase1/*
obj/src/phase2/*
!obj/src/phase1/.placeholder
!obj/src/phase2/.placeholder
# umps config (config files use own paths, which differ from each pc)
umps/*
misc/umps-config/*
!misc/umps-config/.placeholder